html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bug{
  background: #aedf78;
}

.water{
  background: #33ccff;
}
.grass{
  background: #00ca91;
}
.fire{
  background: #e85c42;
}
.normal{
  background: #a5a5a5;
}
.poison{
  background: darkviolet;
}
.electric{
  background: #DBA800;
}
.ground{
  background: #BC815F;
}
.fairy{
  background: pink;
}
.fighting{
  background: brown;
}
.psychic{
  background: #e75480;
}
.rock{
  background: #654321;
}
.ghost{
  background: #301934;
}
.ice{
  background: lightblue;
}
.dragon{
  background: violet;
}