.container {
  padding: 0 2rem;
}
.columnas{
  list-style:none;
  padding-left: 5%;
  display: grid;
  gap:15px;
  grid-template-columns: repeat(auto-fill, minmax(200px,23%));

}
.nombreTipos h3{
  font-size:1.2rem;
  margin:0;
  text-transform: capitalize;
}
.nombreTipos p{
  margin:0;
  text-transform: capitalize;
}
.card{
  padding:15px;
  border:1px solid;
  border-color: whitesmoke;
  position:relative;
  border-radius: 18px;
  height:90px;
  color: #fff;
}
.imagen{
  position:absolute;
  right:0px;
  top: -5px;;
}
.tipos{
  display:flex;
  flex-direction: column;
  
}

.tipo{
  margin:0 0 0px 0;
  background-color: rgba(255,255,255,0.3);
  border-radius:10px;
  padding:0px 10px;
  flex-shrink: initial;
  align-self: flex-start;
}