.container {
  padding: 0 2rem;
}
.columnas{
  list-style:none;
  padding:0;
  display: grid;
  gap:15px;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}
.nombreTipos h3{
  font-size:1.2rem;
  margin:0;
}
.nombreTipos p{
  margin:0;
}
.card{
  padding:15px;
  border:1px solid;
  position:relative;
  border-radius: 18px;
  height:90px;
}
.imagen{
  position:absolute;
  right:0px;
  top: -5px;;
}
